.error404__blank__div {
  min-height: 10em;
}

.error404 {
  margin: auto;
  width: 80%;

  &__text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5em;
    font-weight: bold;
  }
}
