main {
  width: 80%;
  margin: 2rem auto;
}

@media screen and (max-width:1024px) {
.app_container {
  // position: absolute;
}

  main {
    // background-color: #f0f;
    width: 100%;
    margin-top: 0;
    padding: 0.5rem;

  }
}