@use 'src/styles/vars' as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: v.$color-primary;
}

#opening__enter {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: 'Overlock', sans-serif;
  color: white;
  opacity: 0.0;
  animation: enter 3s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

#opening__enter:hover {
  text-decoration: underline solid white 2px;
  cursor: pointer;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 05s ease forwards 1.5s;
}

/* K */
#logo path:nth-child(1) {
  stroke-dasharray: 486px;
  stroke-dashoffset: 486px;
  animation: line-anim 2s ease forwards;
}

/* W */
#logo path:nth-child(2) {
  stroke-dasharray: 516px;
  stroke-dashoffset: 516px;
  animation: line-anim 2s ease forwards 0.3s;
}

/* A */
#logo path:nth-child(3) {
  stroke-dasharray: 387px;
  stroke-dashoffset: 387px;
  animation: line-anim 2s ease forwards 0.6s;
}

/* D */
#logo path:nth-child(4) {
  stroke-dasharray: 470px;
  stroke-dashoffset: 470px;
  animation: line-anim 2s ease forwards 0.9s;
  stroke-linecap: square;
}

/* 1 */
#logo path:nth-child(5) {
  stroke-dasharray: 311px;
  stroke-dashoffset: 311px;
  animation: line-anim 2s ease forwards 1.2s;
  /* stroke-linecap: butt; */
}

/* 6 */
#logo path:nth-child(6) {
  stroke-dasharray: 460px;
  stroke-dashoffset: 460px;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media (min-width: 350px) {
  svg {
    width: 80%;
  }
}
