nav {
  background-color: #225a83;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: white;
  font-family: 'Overlock', sans-serif;
}

h1 {
  color: white;
  // text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav__links a {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.burger {
  display: none;
  cursor: pointer;

}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
  .nav__links {
    width: 60%;
  }
}

@media screen and (max-width:1024px) {
  body {
    overflow-x: hidden;
  }
  .nav__links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #225a83;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}