@use 'src/styles/vars' as v;

nav {
  background-color: v.$color-nav_footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: white;
  font-family: 'Overlock', sans-serif;
}

h1 {
  color: white;
  // text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav__link {
  // font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
}

.nav__links .nav__link:hover {
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.3s ease-out;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
  .nav__links {
    width: 60%;
  }
}

@media screen and (max-width:1024px) {
  nav {
    position: relative;
  }

  .nav__links {
    position: absolute;
    top: 8vh;
    color: #225a83;
    background-color: white;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .nav__links li {
    opacity: 0;
    font-size: 2rem;
  }

  .nav__burger {
    display: block;
  }
}

.nav-active {
  opacity: 1;
  height: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggle .nav__burger__line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .nav__burger__line2 {
  opacity: 0;
}

.toggle .nav__burger__line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}